<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-11 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h3>I Am a <span class="text_clr"> Mern Stack Developer </span>And a Freelencer</h3>
                        <a href="#"><button>About Me</button></a>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/batman_hero_avatar_comics-512.png"
                                alt="About me" class="" title="Jatin Rajput" height="300px">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- footer -->
    {{>footer}}
</body>

</html>