<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="https://www.artzstudio.com/wp-content/uploads/2020/05/404-error-not-found-page-lost-1024x788.png"
                                alt="Error Image" class="" title="Error">
                        </figure>
                        {{!-- <p>{{errormsg}}</p> --}}

                        {{!-- <a href="#"><button>About Me</button></a> --}}

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- footer -->
    {{>footer}}
</body>

</html>